

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #fefeff 0% 0% no-repeat padding-box;
  font-family: 'Karla', sans-serif;
}

.sidebar-container{
  top: 0;
  bottom: 0;
height: 100vh;
padding: 30px 54px;
border: 1px solid #ECECEC;
}
